#baner{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #829eb9;
}
#lewy{
    width: 25%;
    height: 600px;
    background-color: #B3C6D9;
    float: left;
}
#prawy{
    width: 75%;
    height: 600px;
    text-align: center;
    background-color: #E0E9F1;
    float: left;
}
#stopka{
   clear: both;
    width: 100%;
    background-color: #829eb9;
    font-family: Arial;
    text-align: right;
    
}
img{
    margin: 30px;
    padding: 10px;
    border: 2px dashed #B3C6D9;
}
table{
    margin: 30px;
    border: 2px solid;
    width: 70%;
}
th{
background-color: #B3C6D9;
border: 2px solid;
}
tr:hover{
background-color: blue;
color: white;
}
td{
    border: 2px solid;
}
p{
    margin: 30px;
}